div{
    padding: 5px;
}
.login-content{
    text-align: center;
}
.login-content input[type=text],input[type=password] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

.signup{
    padding: 2px;
}
.signup h2{
    text-align: center;
}

.ho:hover{
    background-color: rgb(205, 243, 243);
}

.login{
    align-content: center;
}

.col a{
    text-decoration: none;
    display: block;
}
.district{
    background-color: black;
    color: white;
}
.district h1{
    text-align: center;
}